@model List<Bakery.WebUI.Dtos.Categories.ResultCategoryDto>

@{
	Layout = null;
}

<section id="product">
	<div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 500px;">
		<p class="text-primary text-uppercase mb-2">// Bakery Products</p>
		<h1 class="display-6 mb-4">Explore The Categories Of Our Bakery Products</h1>
	</div>
	<div class="row g-4">
		<div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
			<div class="product-item d-flex flex-column bg-white rounded overflow-hidden h-100">
				<div class="text-center p-4">
					<div class="d-inline-block border border-primary rounded-pill px-3 mb-3">$11 - $99</div>
					<h3 class="mb-3">Cake</h3>
					<span>Tempor erat elitr rebum at clita dolor diam ipsum sit diam amet diam et eos</span>
				</div>
				<div class="position-relative mt-auto">
					<img class="img-fluid" src="img/product-1.jpg" alt="">
					<div class="product-overlay">
						<a class="btn btn-lg-square btn-outline-light rounded-circle" href=""><i class="fa fa-eye text-primary"></i></a>
					</div>
				</div>
			</div>
		</div>
		<div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
			<div class="product-item d-flex flex-column bg-white rounded overflow-hidden h-100">
				<div class="text-center p-4">
					<div class="d-inline-block border border-primary rounded-pill pt-1 px-3 mb-3">$11 - $99</div>
					<h3 class="mb-3">Bread</h3>
					<span>Tempor erat elitr rebum at clita dolor diam ipsum sit diam amet diam et eos</span>
				</div>
				<div class="position-relative mt-auto">
					<img class="img-fluid" src="img/product-2.jpg" alt="">
					<div class="product-overlay">
						<a class="btn btn-lg-square btn-outline-light rounded-circle" href=""><i class="fa fa-eye text-primary"></i></a>
					</div>
				</div>
			</div>
		</div>
		<div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
			<div class="product-item d-flex flex-column bg-white rounded overflow-hidden h-100">
				<div class="text-center p-4">
					<div class="d-inline-block border border-primary rounded-pill pt-1 px-3 mb-3">$11 - $99</div>
					<h4 class="mb-3">Cookies</h4>
					<span>Tempor erat elitr rebum at clita dolor diam ipsum sit diam amet diam et eos</span>
				</div>
				<div class="position-relative mt-auto">
					<img class="img-fluid" src="img/product-3.jpg" alt="">
					<div class="product-overlay">
						<a class="btn btn-lg-square btn-outline-light rounded-circle" href=""><i class="fa fa-eye text-primary"></i></a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>