@{
    Layout = null;
}

<div class="bg-primary text-light rounded-top p-5 my-6 mb-0 wow fadeInUp" data-wow-delay="0.1s">
    <div class="row align-items-center">

        <div class="col-md-6">
            <h1 class="display-4 text-light mb-0">
                Yeniliklerden Haberdar Olun
            </h1>
        </div>

        <div class="col-md-6 text-md-end">

            <form id="subscribeForm" class="position-relative">

                <input class="form-control bg-transparent border-light w-100 py-3 ps-4 pe-5"
                       type="email"
                       name="Email"
                       placeholder="Email adresiniz"
                       required>

                <button type="submit"
                        class="btn btn-dark py-2 px-3 position-absolute top-0 end-0 mt-2 me-2">
                    Abone Ol
                </button>

            </form>

        </div>
    </div>
</div>

<script>
    $(document).ready(function () {

        $('#subscribeForm').on('submit', function (e) {
            e.preventDefault();

            $.post('@Url.Action("Subscribe", "Default")',
                $(this).serialize(),
                function (response) {

                    Swal.fire({
                        icon: 'success',
                        title: 'Abone olundu',
                        text: response.message,
                        timer: 5000,
                        timerProgressBar: true,
                        showConfirmButton: false
                    });

                    setTimeout(() => location.reload(), 5000);
                });
        });

    });
</script>
